<!doctype html>
<html lang=en>
<head>
	<title>Upload new File</title>
	<meta charset="utf-8" />
	<style type="text/css">
		body {
			width: 80%;
			margin: 10em auto;
		}

		div.upload, div.uploads-list {
			background: #acd;
			padding: 2em 3em 4em 3em;
			border-radius: 10px;
		}

		div.uploads-list {
			background: #cda;
		}

		table.uploads {
			width: 70%;
			text-align: left;
		}

		#encryption-status-infobox {
			color: red;
			font-weight: bold;
		}
	</style>
</head>
<body>
	{% for message in get_flashed_messages() %}
	{{ message }} <br>
	{% endfor %}

	<h1><center>acus upload encryption test</center></h1>

	<div class="upload">
		<h2>Upload (encrypted) file</h2>

		<form id="uploadform" method="post" action="/upload" enctype="multipart/form-data" data-acuskey="age192pvgj66wmxrpqxdpu3zufg5wrm5tq77eyxf96ht39rx2a6ypg2qwjf278">
			<p id="encryption-status-infobox">acus not enabled or no acuskey found. Uploads will NOT be encrypted!</p>
			<input type=file name=file>
			<input type=submit value=Upload>
		</form>
	</div>

	<br><br><br>

	<div class="uploads-list">
	<h2>Uploads</h2>
	{% if files|length == 0 %}
	No files uploaded yet!
	{% else %}
	<table class="uploads">
		<thead>
			<tr>
				<th>Filename</th>
				<th>First bytes</th>
				<th>Uploaded at</th>
			</tr>
		</thead>
		{% for file in files %}
		<tr>
			<td>{{ file[0] }}</td>
			<td><code>{{ file[1].hex() }}</code></td>
			<td>{{ file[2] }}</td>
		</tr>
		{% endfor %}
	</table>
	<ul>

	</ul>
	{% endif %}
	</div>
</body>
</html>
